# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

#config
ang-tictactoe-firebase-adminsdk-wwqq0-c1bebd450e.json