<ion-header>
  <app-top-toolbar
    [pageTitle]="pageTitle"
    [showBackButton]="true"
    backButtonHref="/tabs/gallery"
  ></app-top-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (photo()) {
  <ion-card class="card">
    <ion-img [src]="photo()?.photoUrl" class="photo"></ion-img>
    <ion-card-header class="card-header">
      <ion-card-subtitle>
        {{ photo()?.createdAt | date }}
        <br />
        <ion-icon class="like-icon" name="heart-outline"></ion-icon> {{ likesCount() }}
      </ion-card-subtitle>
      @if (showLikeButton) {
      <ion-button shape="round" (click)="toggleLike()">
        <ion-icon slot="icon-only" [name]="heartIcon"></ion-icon>
      </ion-button>
      }
    </ion-card-header>
    <ion-card-content>
      <p>{{ photo()?.caption }}</p>
    </ion-card-content>
  </ion-card>
  } @else {
  <p>{{errorMsg}}</p>
  }
</ion-content>

<ion-loading message="Getting photo..." [isOpen]="isLoading"></ion-loading>
