<ion-header>
  <ion-toolbar>
    <div class="top-toolbar-title">
      <ion-img src="./assets/logo.png" class="logo"></ion-img>
      <ion-title> Gallery </ion-title>
    </div>
    <ion-buttons slot="primary">
      @if((isUserAuthenticated$ | async) === true) {
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="power-outline"></ion-icon>
      </ion-button>
      } @else {
      <ion-button routerLink="/auth">
        <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
      </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2">
        <div class="gallery">
          @for(photo of photos(); track photo.id) {
          <ion-card class="card">
            <ion-img [src]="photo.photoUrl" class="photo"></ion-img>
          </ion-card>
          } @empty {
          <p>There are currently no photos in the gallery</p>
          }
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
