.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  @media screen and (min-width: 576px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  background-color: grey;
  width: 100%;
  height: 300px;
}

.photo {
  object-fit: cover;
}
