<ion-header>
  <ion-toolbar>
    <div class="top-toolbar-title">
      <ion-img src="./assets/logo.png" class="logo"></ion-img>
      <ion-title> Daily Rysia </ion-title>
    </div>
    <ion-buttons slot="primary">
      @if((isUserAuthenticated$ | async) === true) {
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="power-outline"></ion-icon>
      </ion-button>
      } @else {
      <ion-button routerLink="/auth">
        <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
      </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2" size-md="6" offset-md="3" class="ion-no-padding">
        @if (photo()) {
        <ion-card class="ion-text-center">
          <ion-img [src]="photo()?.photoUrl" alt="most recent photo of Rysia"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>{{ photo()?.createdAt | date }}</ion-card-subtitle>
            <ion-card-title>{{ photo()?.caption }}</ion-card-title>
          </ion-card-header>
        </ion-card>
        } @else {
        <p class="ion-margin">There are currently no photos of Rysia to display.</p>
        <p class="ion-margin">Please come back later.</p>
        }
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
